.header {
    position: fixed;
    background-color: white;
    border-bottom: 10px;
    border-color: grey;
    height: 100px;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.about {
    position: fixed;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: grey;
    right: 560px;
    top: 50px;
}

.portfolio {
    position: fixed;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: grey;
    right: 440px;
    top: 50px;
}

.contact {
    position: fixed;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: grey;
    right: 340px;
    top: 50px;
}

h1 {
    position: fixed;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
    background-color: teal;
    color: white;
    margin-left: 15%;
    height: 50px;
    top: 0;
    margin-top: 0;
    text-align: center;
    padding: 30px 20px 20px 20px;  

}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
}

body {
    background-image: url("../images/fresh_snow.png");
    height: 100%;

}

.contentname {
    border-bottom-style: solid;
    border-width: 3px;
    border-top-color: rgb(228, 227, 227);
    color: teal;

}

.content {
    float: left;
    width: 630px;
    margin-top: 150px;
    margin-left: 15%;
    border-color: grey;
    border: 10px;
    background-color: white;
    padding: 10px;

}

.bio {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;

}

.name {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;

}

.namein {
    width: 80%;
    padding: 0 10px 0 10px
}

.email {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;

}

.emailin {
    width: 80%;
    padding: 0 10px 0 10px
}

.message {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;

}

.messagein {
    width: 80%;
    padding: 0 10px 0 10px
}

.hangmani, .rpgi, .triviai, .widgeti {
    height: 200px;
    width: 200px;
    margin: 20px;
    float:right;
    display: inline-block;
    padding-right:50px;
}

.hangman {
	position:absolute;
	top:350px;
	width:200px;
	padding:10px 0 10px 0;
	color:white;
	background: #4aaaa5;
	margin-left: 360px;
	text-align: center;
}

.rpg {
	position: absolute;
	top:350px;
	margin-left: 70px;
	width: 200px;
	padding:10px 0 10px 0;
	text-align: center;
	background: #4aaaa5;
	color: white;

}

.trivia {
	position: absolute;
	top:600px;
	margin-left: 360px;
	width: 200px;
	padding:10px 0 10px 0;
	padding:10px 0 10px 0;
	text-align: center;
	background: #4aaaa5;
	color:white;
}

.widget {
	position: absolute;
	top:600px;
	margin-left: 70px;
	width: 200px;
	padding:10px 0 10px 0;
	padding:10px 0 10px 0;
	text-align: center;
	background: #4aaaa5;
    color: white;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    font-weight: bold;
}

.contactinfo {
    color: teal;
    background-color: white;
    width: 250px;
    position: relative;
    float: left;
    top: 150px;
    text-align: left;
    margin-left: 40px;
    padding: 10px;
}

.connect {
    border-bottom-style: solid;
    border-width: 3px;
    border-top-color: rgb(228, 227, 227);
    padding: 10px;

}

.github {
    float:right;
    margin-right: 7%;
    margin-left: 10%;
    padding-top: 10px;
}

.linkedin {
    float: right;
    margin-left: 10%;
    padding-top: 10px;
}

.overflow {
    float:right;
    padding-top: 10px;    
}

.footer {
    position: fixed;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(97, 97, 97);
    color: black;
    border-top-style: solid;
    border-width: 5px;
    border-top-color: teal;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
